<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Angular Test App</title>

	<!-- Styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" />
</head>

<body ng-app="todoApp">
	<div class="container">
	    <div class="jumbotron" style="margin-top: 24px;">
	        <h1>AngularJS</h1>
	        <p class="lead">A simple example of using AngularJS to create a todo list.</p>
	    </div>
	    <div class="row" ng-controller="todoController">
	        <div class="col-lg-6">
	            <h4>New Todo</h4>

	            <form ng-submit="addTodo()">
				    <input class="form-control" placeholder="Type your todo..." required autofocus ng-model="todoText">
				    <button class="btn btn-primary" type="submit">Add</button>
				</form>

	        </div>

	        <div class="col-lg-6">
	            <h4>My Todos</h4>

	            <ul ng-cloak>
	            	<li ng-repeat="todo in todos" ng-class="{done: todo.done}">
	            		{{todo.text}} <small>{{todo.timestamp | date: "h:mm:ss a"}} <a ng-click="completeTodo(todo)">complete</a></small>
	            	</li>
	            </ul>
	        </div>
	    </div>
	</div><!-- /container -->

	<!-- Scripts -->
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
	<script src="app.js"></script>
</body>
</html>